.not-found-container {
    width: 100%;
    height: 100%;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fdfdfd;
}

.not-found-container.active-dark {
    background-color: #212121;
}

.not-found-container.active-dark * {
    color: #FFFFFF;
}

.not-found-container img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.not-found-container span {
    font-size: 2rem;
    font-weight: 600;
}

.back-homepage {
    color: #212121;
    text-decoration: none;
    margin-top: 15px;
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid #343434;
    transition: 0.3s all;
}

.back-homepage:hover {
    color: #FFFFFF;
    background-color: #212121;
    transition: 0.3s all;
}

.not-found-container.active-dark .back-homepage:hover {
    color: #212121;
    background-color: #FFFFFF;
}

@media only screen and (max-width: 800px) {
    .not-found-container img {
        width: 280px;
        height: 280px;
    }

    .not-found-container span {
        font-size: 1.4rem;
    }
}