.blog-detail-container {
    width: 100%;
    height: 100%;
    padding: 25px;
    overflow: hidden;
    background-color: #fdfdfd;
}

.blog-detail-container.active-dark {
    background-color: #212121;
}

.blog-detail-container.active-dark * {
    color: #FFFFFF;
}

.detail-content {
    padding-top: 30px;
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
}

.detail-content .back-blogpage {
    font-size: 1.2rem;
    font-family: "Noto Sans Thai", sans-serif;
    color: #212121;
    width: 230px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    margin-bottom: 50px;
}

.blog-detail-container.active-dark .back-blogpage {
    color: #FFFFFF;
}

.header-paragraph {
    p {
        font-family: "Noto Sans Thai", sans-serif;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1px;
    }

    > span {
        color: #686868;
        font-family: "Noto Sans Thai", sans-serif;
        font-size: 1.2rem;
    }

    .detail-author {
        margin-top: 15px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        gap: 15px;

        .author-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 5px;

            .author-name {
                font-family: "Noto Sans Thai", sans-serif;
                font-size: 1.1rem;
                font-weight: 500;
            }

            .created-at {
                color: #9f9f9f;
                font-size: 0.9rem;
                font-weight: 500;
            }
        }

        img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}

.category-detail {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.category-detail-list {
    user-select: none;
    font-size: 0.8rem;
    padding: 3px 10px;
    border-radius: 5px;
    border: 1px solid #000000;
    margin-bottom: 10px;
}

.blog-detail-container.active-dark .category-detail-list {
    border: 1px solid #FFFFFF;
}

/* Main content */
.main-paragraph-content {
    .main-content-image {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .main-content-image img {
        border-radius: 25px;
        width: 550px;
        height: 350px;
        object-fit: cover;
    }

    p {
        text-align: justify;
        margin: 20px 0;
        font-family: "Noto Sans Thai", sans-serif;
        font-size: 1.05rem;
    }

    strong {
        font-size: 1.2rem;
        font-family: "Noto Sans Thai", sans-serif;
    }

    ul {
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    ul li {
        font-family: "Noto Sans Thai", sans-serif;
        font-size: 0.95rem;
    }

    .sub-image-detail {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sub-image-detail img {
        /* width: clamp(280px, 70%, 90%); */
        height: 300px;
        border-radius: 20px;
        object-fit: cover;
    }

    p.credit-image {
        font-size: 0.8rem;
        text-align: center;
    }

    p.credit-image a {
        text-decoration: underline;
    }

    b {
        font-family: "Noto Sans Thai";
    }

    pre {
        padding: 10px 15px;
        color: #FFFFFF;
        border-radius: 5px;
        background-color: #212121;

        code {
            font-size: 0.9rem;
            color: #FFFFFF;
            padding: 0;
            background-color: transparent;
        }
    }

    code {
        font-size: 0.85rem;
        font-family: "Noto Sans Thai", sans-serif;
        color: #121212;
        padding: 2px 10px;
        border-radius: 3px;
        background-color: #dfdfdf;
    }

    .math-container {
        padding: 3px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .math-content {
        color: #000000;
        padding: 5px 15px;
        border-radius: 5px;
        background-color: #ececec;
    }

    .activity-image {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .activity-image img {
        width: 100%;
        height: 700px;
        object-fit: contain;
    }

    details {
        padding: 3px 10px;
        display: inline-block;
        border-radius: 5px;
        background-color: #eeeeee;

        p {
            padding: 10px;
            margin: 0;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            background-color: #f7f7f7;
        }

        ul {
            margin-right: 10px;
        }
    }

    details:open {
        padding: 0;
        padding-top: 5px;
        summary {
            margin: 0 5px;
        }
    }
}

.blog-detail-container.active-dark details {
    summary, p {
        color: #000000;
    }

    li {
        color: #000000 !important;
    }
}

.blog-detail-container pre {
    p {
        margin: 0;
        font-size: 0.75rem;
    }
    strong {
        margin: 0;
    }
}

.blog-detail-container.active-dark pre {
    background-color: #151515;

    code {
        color: #FFFFFF;
        background-color: transparent;
    }

    p {
        font-size: 0.7rem;
    }
}

.blog-detail-container.active-dark code {
    color: #efefef;
    background-color: #282828;
}

@media only screen and (max-width: 800px) {
    .main-paragraph-content {
        p {
            font-size: 0.87rem;
        }
    }

    .detail-content {
        width: 100%;
    }

    .main-paragraph-content img {
        width: 100%;
        height: 190px !important;
        /* object-fit: contain !important; */
    }

    .sub-image-detail img {
        object-fit: contain !important;
    }

    .activity-image img {
        width: 100% !important;
        height: 100% !important;
    }
}